# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.sqlite3

# Virtual environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Logs and databases
*.log
*.sql

# Local settings
local_settings.py

# Media files
media/

# Static files
staticfiles/

# Compiled Python bytecode
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

# Frontend

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
